@model MyCV_Demo.Models.TaxResultModel

<h1>Tax Results for @Model.TaxYear</h1>
<p>Country code: @Model.CountryCode</p>
<p>Taxable income: @Model.TaxableIncome</p>
<p>Net income: @Model.NetIncome</p>
<p>Total tax: @Model.TotalTax</p>